.container-history {
    background: #191919;
    min-height: 100vh;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

  }

  .content{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 30px;
  }

.button-download{
    border-radius: 8px;
    border: 2px solid white;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: transparent;
    color: white;
    margin-top: 20px;
}

.button-download:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    border: 2px solid white;
}
.month-selector{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    font-size: 1.2em;
}