.container-password {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.password-toggle-icon {
    width: 33px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}