.container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 5px;
    gap: 20px;
    border-top: 1px solid #e0e0e0;
    height: 80px;
}
.container-transaction{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.content-transaction{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction:column
}