.container-home {
  background: #191919;
  height: 100vh;
  user-select: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

}
.content-options {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: flex-start;
  margin-top: 50px;
}
.content-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.link{
    text-decoration: none;
    color: #fff;
}

.link :hover{
    color: #fff;
}
